.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 80px auto 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 21px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(20% - 8.8px) calc(20% - 8.8px) calc(20% - 8.8px) calc(20% - 8.8px) calc(20% - 8.8px);
  min-height: 295px;
  grid-gap: 11px 11px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  height: 200px;
  background-image: url("images/cropped_image4.png");
  background-position: 50% 50%;
  width: 200px;
  margin: 7px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-size: 1.125rem;
  margin: 13px auto 0;
  padding: 8px 35px 9px;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  height: 200px;
  background-image: url("images/cropped_image5.png");
  background-position: 50% 50%;
  width: 200px;
  margin: 7px 0 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-size: 1.125rem;
  margin: 13px auto 0;
  padding: 8px 35px 9px;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  height: 200px;
  background-image: url("images/cropped_image7.png");
  background-position: 50% 50%;
  width: 200px;
  margin: 7px 0 0;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-size: 1.125rem;
  margin: 13px auto 0;
  padding: 8px 35px 9px;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  height: 200px;
  background-image: url("images/15A562C1-A185-47C3-B69F-EBC7C04BF398.JPG");
  background-position: 50% 50%;
  width: 200px;
  margin: 7px 0 0;
}

.u-section-1 .u-btn-4 {
  --radius: 50px;
  font-size: 1.125rem;
  margin: 13px auto 0;
  padding: 8px 35px 9px;
}

.u-section-1 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  height: 200px;
  background-image: url("images/cropped_image1.png");
  background-position: 50% 50%;
  width: 200px;
  margin: 7px 0 0;
}

.u-section-1 .u-btn-5 {
  --radius: 50px;
  font-size: 1.125rem;
  margin: 13px auto 0;
  padding: 8px 35px 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: -11px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 245px;
  }

  .u-section-1 .u-image-1 {
    height: 160px;
    width: 160px;
  }

  .u-section-1 .u-image-2 {
    height: 160px;
    width: 160px;
  }

  .u-section-1 .u-image-3 {
    height: 160px;
    width: 160px;
  }

  .u-section-1 .u-image-4 {
    height: 160px;
    width: 160px;
  }

  .u-section-1 .u-image-5 {
    height: 160px;
    width: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 647px;
    grid-template-columns: calc(33.3333% - 7.33333px) calc(33.3333% - 7.33333px) calc(33.3333% - 7.33333px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-1 .u-image-1 {
    height: 224px;
    width: 224px;
    margin-top: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-1 .u-image-2 {
    height: 224px;
    width: 224px;
    margin-top: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-1 .u-image-3 {
    height: 224px;
    width: 224px;
    margin-top: 9px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-1 .u-image-4 {
    height: 224px;
    width: 224px;
    margin-top: 9px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-1 .u-image-5 {
    height: 224px;
    width: 224px;
    margin-top: 9px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    min-height: 1107px;
    grid-template-columns: calc(50% - 5.5px) calc(50% - 5.5px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 50px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 50px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 50px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 48px;
    margin-left: 60px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 48px;
    margin-left: 60px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 48px;
    margin-left: 60px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 48px;
    margin-left: 60px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 48px;
    margin-left: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 638px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 70px auto 0;
}

.u-section-2 .u-accordion-1 {
  width: 1040px;
  margin: 35px auto 36px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 247px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 490px 0 0;
}

.u-section-2 .u-text-4 {
  margin: -168px 0 28px 490px;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 247px;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 490px 0 0;
}

.u-section-2 .u-text-7 {
  margin: -196px 0 28px 490px;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 247px;
  height: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 490px 0 0;
}

.u-section-2 .u-text-10 {
  margin: -168px 0 28px 490px;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 247px;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0 490px;
}

.u-section-2 .u-text-13 {
  margin: -140px 490px 28px 0;
}

.u-section-2 .u-accordion-link-5 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 304px;
  height: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-15 {
  margin: 20px 0 0 490px;
}

.u-section-2 .u-text-16 {
  margin: -196px 490px 28px 0;
}

.u-section-2 .u-accordion-link-6 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-2 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-6 {
  min-height: 247px;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-18 {
  margin: 20px 0 0 490px;
}

.u-section-2 .u-text-19 {
  margin: -56px 490px 56px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-accordion-1 {
    width: 940px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 390px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 390px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 390px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-accordion-1 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 270px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 270px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 170px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 270px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 170px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 270px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 270px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 270px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 170px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 270px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 170px;
  }

  .u-section-2 .u-text-19 {
    margin-top: 20px;
    margin-right: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 130px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 130px;
  }

  .u-section-2 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-6 {
    margin-right: 30px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 130px;
  }

  .u-section-2 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-9 {
    margin-right: 30px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 130px;
  }

  .u-section-2 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-12 {
    margin-left: 130px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 130px;
  }

  .u-section-2 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-15 {
    margin-left: 30px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 130px;
  }

  .u-section-2 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-17 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-18 {
    margin-left: 30px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-accordion-1 {
    width: 340px;
  }

  .u-section-2 .u-accordion-pane-1 {
    min-height: 637px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: -130px;
  }

  .u-section-2 .u-accordion-pane-2 {
    min-height: 637px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: -188px;
  }

  .u-section-2 .u-accordion-pane-3 {
    min-height: 637px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: -160px;
  }

  .u-section-2 .u-accordion-pane-4 {
    min-height: 637px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 190px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin: -295px 10px 0;
  }

  .u-section-2 .u-accordion-pane-5 {
    min-height: 637px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-2 .u-text-14 {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: 215px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin: -470px 10px 0;
  }

  .u-section-2 .u-accordion-pane-6 {
    min-height: 637px;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-2 .u-text-17 {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-top: 165px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin: -195px 10px 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-3 .u-accordion-1 {
  width: 1040px;
  margin: 35px auto 60px;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 471px;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 490px 0 0;
}

.u-section-3 .u-text-4 {
  margin: -196px 0 0 490px;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 471px;
  height: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 490px 0 0;
}

.u-section-3 .u-text-7 {
  margin: -336px 0 0 490px;
}

.u-section-3 .u-accordion-link-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 471px;
  height: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 490px 0 0;
}

.u-section-3 .u-text-10 {
  margin: -252px 0 0 490px;
}

.u-section-3 .u-accordion-link-4 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 471px;
  height: auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0 490px;
}

.u-section-3 .u-text-13 {
  margin: -392px 490px 28px 0;
}

.u-section-3 .u-accordion-item-5 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-5 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 471px;
  height: auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-15 {
  margin: 20px 0 0 490px;
}

.u-section-3 .u-text-16 {
  margin: -504px 490px 0 0;
}

.u-section-3 .u-accordion-item-6 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-6 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-6 {
  min-height: 471px;
  height: auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-17 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-18 {
  margin: 20px 0 0 490px;
}

.u-section-3 .u-text-19 {
  margin: -336px 490px 56px 0;
}

.u-section-3 .u-accordion-item-7 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-7 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-7 {
  min-height: 471px;
  height: auto;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-text-20 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-21 {
  margin: 20px 0 0 490px;
}

.u-section-3 .u-text-22 {
  margin: -252px 490px 28px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-accordion-1 {
    width: 940px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 390px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 390px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 390px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 390px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 390px;
  }

  .u-section-3 .u-text-21 {
    margin-left: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-accordion-1 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 170px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 270px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 170px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 270px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 170px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 270px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 270px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 270px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 170px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 270px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 170px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 270px;
  }

  .u-section-3 .u-text-21 {
    margin-left: 170px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    margin-right: 30px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 130px;
  }

  .u-section-3 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-6 {
    margin-right: 30px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 130px;
  }

  .u-section-3 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-9 {
    margin-right: 30px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 130px;
  }

  .u-section-3 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-12 {
    margin-left: 130px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 130px;
  }

  .u-section-3 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-15 {
    margin-left: 30px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 130px;
  }

  .u-section-3 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-17 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-18 {
    margin-left: 30px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 130px;
  }

  .u-section-3 .u-accordion-link-7 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-20 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-21 {
    margin-left: 30px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-accordion-1 {
    width: 340px;
  }

  .u-section-3 .u-accordion-pane-1 {
    min-height: 986px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 50px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: -124px;
  }

  .u-section-3 .u-accordion-pane-2 {
    min-height: 986px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 50px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: -324px;
  }

  .u-section-3 .u-accordion-pane-3 {
    min-height: 986px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: -15px;
    margin-left: 0;
  }

  .u-section-3 .u-accordion-pane-4 {
    min-height: 986px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-3 .u-text-11 {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 365px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin: -745px 10px 0;
  }

  .u-section-3 .u-accordion-pane-5 {
    min-height: 986px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-3 .u-text-14 {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-top: 466px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-16 {
    width: auto;
    margin-top: -985px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-accordion-pane-6 {
    min-height: 986px;
  }

  .u-section-3 .u-text-18 {
    width: auto;
    margin-top: 290px;
    margin-left: 0;
  }

  .u-section-3 .u-text-19 {
    width: auto;
    margin-top: -595px;
    margin-right: 0;
    margin-bottom: 345px;
  }

  .u-section-3 .u-accordion-pane-7 {
    min-height: 986px;
  }

  .u-section-3 .u-text-21 {
    width: auto;
    margin-top: 315px;
    margin-left: 0;
  }

  .u-section-3 .u-text-22 {
    width: auto;
    margin-top: -595px;
    margin-right: 0;
    margin-bottom: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-4 .u-accordion-1 {
  width: 1040px;
  margin: 35px auto 60px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 556px;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 490px 0 0;
}

.u-section-4 .u-text-4 {
  margin: -252px 0 0 490px;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-4 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 556px;
  height: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 490px 0 0;
}

.u-section-4 .u-text-7 {
  margin: -196px 0 0 490px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-accordion-1 {
    width: 940px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-accordion-1 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 270px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 270px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 170px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 20px;
    margin-left: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-accordion-1 {
    width: 540px;
  }

  .u-section-4 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-3 {
    margin-right: 130px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 130px;
  }

  .u-section-4 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-6 {
    margin-right: 30px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-accordion-1 {
    width: 340px;
  }

  .u-section-4 .u-accordion-pane-1 {
    min-height: 911px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: -242px;
  }

  .u-section-4 .u-accordion-pane-2 {
    min-height: 911px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 30px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: -224px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-5 .u-accordion-1 {
  width: 1040px;
  margin: 35px auto 60px;
}

.u-section-5 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-5 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 359px;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 490px 0 0;
}

.u-section-5 .u-text-4 {
  margin: -280px 0 28px 490px;
}

.u-section-5 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-5 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 359px;
  height: auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 490px 0 0;
}

.u-section-5 .u-text-7 {
  margin: -196px 0 28px 490px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-accordion-1 {
    width: 940px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-accordion-1 {
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 270px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 270px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 170px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 20px;
    margin-left: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-accordion-1 {
    width: 540px;
  }

  .u-section-5 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-3 {
    margin-right: 130px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 130px;
  }

  .u-section-5 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-6 {
    margin-right: 30px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-accordion-1 {
    width: 340px;
  }

  .u-section-5 .u-accordion-pane-1 {
    min-height: 708px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: -272px;
  }

  .u-section-5 .u-accordion-pane-2 {
    min-height: 708px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-6 .u-accordion-1 {
  width: 1040px;
  margin: 35px auto 60px;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-6 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 359px;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 490px 0 0;
}

.u-section-6 .u-text-4 {
  margin: -280px 0 0 490px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-accordion-1 {
    width: 940px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-accordion-1 {
    width: 720px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 170px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
    margin-left: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-accordion-1 {
    width: 540px;
  }

  .u-section-6 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-6 .u-text-3 {
    margin-right: 30px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-accordion-1 {
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
  }
}