.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 81px auto 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 21px auto 0;
}

.u-section-1 .u-list-1 {
  margin: 31px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(20% - 8.8px) calc(20% - 8.8px) calc(20% - 8.8px) calc(20% - 8.8px) calc(20% - 8.8px);
  min-height: 324px;
  grid-gap: 11px 11px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  width: 185px;
  height: 185px;
  margin: 37px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 40px 7px 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  width: 185px;
  height: 185px;
  margin: 37px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 40px 7px 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  width: 185px;
  height: 185px;
  margin: 37px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 40px 7px 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  width: 185px;
  height: 185px;
  margin: 37px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 40px 7px 0;
}

.u-section-1 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  width: 185px;
  height: 185px;
  margin: 37px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 40px 7px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 265px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 699px;
    grid-template-columns: calc(33.3333% - 7.33333px) calc(33.3333% - 7.33333px) calc(33.3333% - 7.33333px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    min-height: 1195px;
    grid-template-columns: calc(50% - 5.5px) calc(50% - 5.5px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 50px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 50px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 528px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-2 .u-accordion-1 {
  width: 1040px;
  margin: 35px auto;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 247px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 490px 0 0;
}

.u-section-2 .u-text-4 {
  margin: -168px 0 28px 490px;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 247px;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 490px 0 0;
}

.u-section-2 .u-text-7 {
  margin: -196px 0 28px 490px;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 247px;
  height: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 490px 0 0;
}

.u-section-2 .u-text-10 {
  margin: -168px 0 28px 490px;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 247px;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0 490px;
}

.u-section-2 .u-text-13 {
  margin: -140px 490px 28px 0;
}

.u-section-2 .u-accordion-link-5 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 304px;
  height: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-15 {
  margin: 20px 0 0 490px;
}

.u-section-2 .u-text-16 {
  margin: -196px 490px 28px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-accordion-1 {
    width: 940px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 390px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 390px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-accordion-1 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 270px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 270px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 170px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 270px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 170px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 270px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 270px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 270px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 170px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 130px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 130px;
  }

  .u-section-2 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-6 {
    margin-right: 30px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 130px;
  }

  .u-section-2 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-9 {
    margin-right: 30px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 130px;
  }

  .u-section-2 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-12 {
    margin-left: 130px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 130px;
  }

  .u-section-2 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-15 {
    margin-left: 30px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-accordion-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-3 .u-accordion-1 {
  width: 1040px;
  margin: 4px auto 60px;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 415px;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 490px 0 0;
}

.u-section-3 .u-text-4 {
  margin: -196px 0 56px 490px;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 415px;
  height: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 490px 0 0;
}

.u-section-3 .u-text-7 {
  margin: -336px 0 252px 490px;
}

.u-section-3 .u-accordion-link-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 415px;
  height: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 490px 0 0;
}

.u-section-3 .u-text-10 {
  margin: -252px 0 112px 490px;
}

.u-section-3 .u-accordion-link-4 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 415px;
  height: auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0 490px;
}

.u-section-3 .u-text-13 {
  margin: -392px 490px 28px 0;
}

.u-section-3 .u-accordion-link-5 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 415px;
  height: auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-15 {
  margin: 20px 0 0 490px;
}

.u-section-3 .u-text-16 {
  margin: -336px 490px 56px 0;
}

.u-section-3 .u-accordion-link-6 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-6 {
  min-height: 415px;
  height: auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-17 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-18 {
  margin: 20px 0 0 490px;
}

.u-section-3 .u-text-19 {
  margin: -252px 490px 28px 0;
}

.u-section-3 .u-accordion-link-7 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-7 {
  min-height: 415px;
  height: auto;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-text-20 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-text-21 {
  margin: 20px 0 0 490px;
}

.u-section-3 .u-text-22 {
  margin: -504px 490px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-accordion-1 {
    width: 940px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 390px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 390px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 390px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 390px;
  }

  .u-section-3 .u-text-21 {
    margin-left: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-accordion-1 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 270px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 270px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 170px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 270px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 170px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 270px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 270px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 270px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 170px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 270px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 170px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 270px;
  }

  .u-section-3 .u-text-21 {
    margin-left: 170px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    margin-right: 130px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 130px;
  }

  .u-section-3 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-6 {
    margin-right: 30px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 130px;
  }

  .u-section-3 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-9 {
    margin-right: 30px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 130px;
  }

  .u-section-3 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-12 {
    margin-left: 130px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 130px;
  }

  .u-section-3 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-15 {
    margin-left: 30px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 130px;
  }

  .u-section-3 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-17 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-18 {
    margin-left: 30px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 130px;
  }

  .u-section-3 .u-accordion-link-7 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-20 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-21 {
    margin-left: 30px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-accordion-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }

  .u-section-3 .u-text-15 {
    margin-left: 0;
  }

  .u-section-3 .u-text-16 {
    margin-right: 0;
  }

  .u-section-3 .u-text-18 {
    margin-left: 0;
  }

  .u-section-3 .u-text-19 {
    margin-right: 0;
  }

  .u-section-3 .u-text-21 {
    margin-left: 0;
  }

  .u-section-3 .u-text-22 {
    margin-right: 0;
  }
}